.toggle-all {
    width: 1px;
    height: 1px;
    border: none; /* Mobile Safari */
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;
  }
  
  .toggle-all + label {
    width: 60px;
    height: 34px;
    font-size: 0;
    position: absolute;
    top: -52px;
    left: -13px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .toggle-all + label:before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
  }
  
  .toggle-all:checked + label:before {
    color: #737373;
  }
  
  .description-info {
    display: inline-block;
    padding: 10px;
  }
  
  .timer {
    margin-left: 5px;
  }
  
  .icon-pause:after {
      content: '⏸';
    font-size: 15px;
    width: 18px;
    height: 18px;
  }
  
  .icon-play:after {
      content: '▶';
    font-size: 15px;
    width: 18px;
    height: 18px;
  }
  